@font-face {
	font-weight: 400;
	font-family: "San Francisco";
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
	display: grid;
	width: 100vw;
	height: 100vh;
	margin: 0;

	background: linear-gradient(to bottom right, blue, pink);
	place-content: center;
}