.calculator-box {
    padding: 0.1rem;
    max-width: 27.2rem;
    min-width: fit-content;
    background-color: #2A2A2A;
    height: fit-content;
    border: 2px solid #2A2A2A;
    width: 90vw;
    border-radius: 8px;
    margin: 1rem;
}